<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RegressionPack" verbose ="1">

    <!--This listener will listen to all the test for reporting and logging to the extentReport test-output folder-->
    <listeners>
        <listener class-name="eohmc.selenium.core.testCases.cdp.loginTestClass"/>
    </listeners>

    <!--This will drive the execution of ALL the test scripts in the Test suite -->
    <test name="RegressionPack">
        <packages>
            <package name="eohmc.selenium.core.testCases.cdp.loginTestClass" />
        </packages>
    </test>
    <!--This will drive the execution of SELECTED test scripts in the suite -->
    <!--<test name="Run individual test" >-->

    <test name="Regression" >
        <classes>
            <class name="eohmc.selenium.core.testCases.cdp.loginTestClass">
                <methods>
                    <include name="loginTestClass" />
                </methods>
            </class>
        </classes>
    </test>

</suite>